.button_login {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    cursor: pointer;

}

.login-signup {
    padding: 8px;
    text-align: center;
    margin: auto;
  }

.form_field {
    border: table_gray;
    color: gray;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;

}

.form-wrap{
    width: 35%;
    margin: 0 auto;
}

.center{
    text-align: center;
}

.button_trade{
    background-color: rgb(221, 112, 23);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    cursor: pointer;
}

.button_trade:hover {
    background-color: red
}

.textarea{
    width: 20%;
}